    /*
    Flaticon icon font: Flaticon
    Creation date: 25/01/2021 06:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-location:before { content: "\f100"; }
.flaticon-maps-and-location:before { content: "\f101"; }
.flaticon-map:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-email:before { content: "\f105"; }
.flaticon-ip:before { content: "\f106"; }
.flaticon-ip-1:before { content: "\f107"; }
.flaticon-connecting:before { content: "\f108"; }
.flaticon-send-mail:before { content: "\f109"; }
.flaticon-telephone:before { content: "\f10a"; }
.flaticon-email-1:before { content: "\f10b"; }
.flaticon-transparency:before { content: "\f10c"; }
    
    $font-Flaticon-location: "\f100";
    $font-Flaticon-maps-and-location: "\f101";
    $font-Flaticon-map: "\f102";
    $font-Flaticon-placeholder: "\f103";
    $font-Flaticon-phone-call: "\f104";
    $font-Flaticon-email: "\f105";
    $font-Flaticon-ip: "\f106";
    $font-Flaticon-ip-1: "\f107";
    $font-Flaticon-connecting: "\f108";
    $font-Flaticon-send-mail: "\f109";
    $font-Flaticon-telephone: "\f10a";
    $font-Flaticon-email-1: "\f10b";
    $font-Flaticon-transparency: "\f10c";